<div class="card bg-light mb-3">
  <div class="card-header">{{title}}</div>
  <div class="card-body">
    <button class="btn btn-primary my-2" routerLink="/students/forms">Create</button>
    <div class="alert alert-info" *ngIf="students?.length==0">No results</div>
    <table class="table table-hover table-striped" *ngIf="students?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>lastname</th>
          <th>email</th>
          <th>createAt</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.id}}</td>
          <td>{{student.name | uppercase}}</td>
          <td>{{student.lastname | uppercase}}</td>
          <td>{{student.email| lowercase}}</td>
          <td>{{student.createAt | date: 'yyyy/MM/dd'}}</td>
          <td><button class="btn btn-secondary btn-sm" [routerLink]="['/students/forms', student.id]">Edit</button></td>
          <td><button class="btn btn-danger btn-sm" (click)="delete(student)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
