<div class="card bg-light mb-3">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <button class="btn btn-secondary my-2" routerLink="/exams">Back</button>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="model.name" />
        <div class="alert alert-danger" *ngIf="error?.name">
          {{ error.name }}
        </div>
      </div>
      <div class="form-group">
        <label for="parentSubject">Parent Subject</label>
        <select name="parentSubject" id="parentSubject" (change)="loadChildrens()" [compareWith]="compareSubject"
          [(ngModel)]="model.parentSubject" class="form-control">
          <option [ngValue]="undefined">-- Selected one --</option>
          <option *ngFor="let parent of parentSubjects" [ngValue]="parent">{{parent.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="error?.parentSubject">
          {{ error.parentSubject }}
        </div>
      </div>
      <div class="form-group">
        <label for="childrenSubject">Child Subject</label>
        <select name="childrenSubject" id="childrenSubject" [compareWith]="compareSubject"
          [(ngModel)]="model.childrenSubject" class="form-control">
          <option [ngValue]="undefined">-- Selected one --</option>
          <option *ngFor="let child of childrenSubjects" [ngValue]="child">{{child.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="error?.childrenSubject">
          {{ error.childrenSubject }}
        </div>
        <button (click)="addQuestion()" class="btn btn-info btn-lg my-3">
          Add Question
        </button>
      </div>
      <div class="form-group" *ngFor="let question of model.questions; let i = index">
        <div class="row">
          <div class="col-sm-2">
            <label>Pregunta {{i+1}}:</label>
          </div>
          <div class="col-sm-6">
            <input type="text" value="{{question.text}}" (change)="assignText(question, $event)" class="form-control" />
          </div>
          <div class="col-sm-1">
            <button class="btn btn-danger btn-sm" (click)="deleteQuestion(question)">x</button>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="errorQuestions">
        {{ errorQuestions }}
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="model.id ? edit() : create()">
          {{model.id ? 'Edit' : 'Create'}}
        </button>
      </div>
    </form>
  </div>
</div>
